/* google font family */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.inter{
    font-family: "Inter", sans-serif;
}
.raleway{
    font-family: "Raleway", sans-serif;
}





/* banner-section bg img */
#banner-section{
    /* set height & weight */
    margin: auto;
    margin-top: 25px;
    height: 80vh;
    width: 80vw;
    /* show img */
    background-image: url("../media/images/banner.png");
    background-position: center;
    background-size: cover; 
    /* brightness of Img */
    filter: brightness(70%);
}